
<div class="card full-space gameplay-space">

  <ng-container *ngIf="landmarkEncounterData$ | async as landmarkEncounterData">
    <div class="row mt-3">
      <div class="col">
        <div class="text-center icon-text size-header">
          {{ landmarkEncounterData.landmarkName }}
        </div>

        <div class="text-center icon-text size-subheader px-3">
          {{ landmarkEncounterData.landmarkDescription }}
        </div>

        <div class="text-center icon-text mt-3">
          <div class="btn btn-primary"
               (click)="makeChoice(i)"
               *ngFor="let button of landmarkEncounterData.choices; let i = index">{{ i + 1 }}. {{ button.text }}</div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
