
<div class="card full-space gameplay-space">

  <ng-container *ngIf="landmarkEncounterData$ | async as landmarkEncounterData">

    <div class="row mt-3">
      <div class="col">
        <div class="text-center icon-text size-header">
          <app-icon class="landmark-icon"
                    [icon]="landmarkEncounterData.landmarkIcon"
                    [showOutline]="true"
                    *ngIf="landmarkEncounterData.landmarkIcon !== 'blank'"></app-icon>
          {{ landmarkEncounterData.landmarkName }}
        </div>

        <div class="text-center icon-text size-subheader px-3">
          {{ landmarkEncounterData.landmarkDescription }}
        </div>

        <div class="text-center icon-text size-big px-3 event-message">
          {{ eventMessage$ | async }}
        </div>

        <!-- choices -->
        <div class="text-center icon-text mt-3" *ngIf="landmarkEncounterData.choices.length > 0">
          <div class="btn btn-primary"
               (click)="makeChoice(i)"
               *ngFor="let button of landmarkEncounterData.choices; let i = index">

               <app-key-display [keybind]="'Choice' + (i + 1)"></app-key-display>
               {{ button.text }}
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3" *ngIf="landmarkEncounterData.playerSlots.length > 0 && landmarkEncounterData.slots.length > 0">

      <!-- character-related column -->
      <div class="col-4" *ngIf="character$ | async as character">
        <div class="row" *ngFor="let slot of landmarkEncounterData.playerSlots; let slotIndex = index">
          <div class="col d-flex justify-content-center">
            <div class="d-flex flex-column icon-text align-items-center full-width">
              <div class="d-flex flex-row justify-content-around full-width">
                <app-icon [icon]="character.background.icon" [showOutline]="true"></app-icon>

                <app-card-slot [card]="slot.card"
                               backgroundSize="size-header"
                               [lockOnTimerExpire]="slot.lockOnTimerExpire"
                               [locked]="slot.locked"
                               [slotIndex]="slotIndex"
                               placeholder="+"
                               side="Player"
                               [timerColor]="slot.timerType"
                               [maxTimer]="slot.maxTimer"
                               [timer]="slot.timer"
                               *ngIf="slot.timer !== -1"
                               [dndDropzone]="slot.accepts"
                               [dndDisableIf]="slot.locked"
                               (dndDrop)="addCardToPlayerSlot($event, slotIndex)"></app-card-slot>
              </div>
              <div class="size-big">{{ character.name }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="row" *ngFor="let slot of landmarkEncounterData.playerSlots; let slotIndex = index">
          <div class="col d-flex flex-column icon-text align-items-center">
            <app-attack-display [name]="slot.selectedAttack" *ngIf="slot.selectedAttack"></app-attack-display>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="row" *ngFor="let slot of landmarkEncounterData.slots; let slotIndex = index">
          <div class="col d-flex flex-column icon-text align-items-center">
            <app-attack-display [name]="slot.selectedAttack" *ngIf="slot.selectedAttack"></app-attack-display>
          </div>
        </div>
      </div>

      <!-- slots column -->
      <div class="col-4">
        <div class="row" *ngFor="let slot of landmarkEncounterData.slots; let slotIndex = index">
          <div class="col d-flex flex-column icon-text align-items-center">
            <div class="d-flex flex-row justify-content-around full-width">
              <app-card-slot [card]="slot.card"
                             backgroundSize="size-header"
                             [lockOnTimerExpire]="slot.lockOnTimerExpire"
                             [locked]="slot.locked"
                             [slotIndex]="slotIndex"
                             placeholder="+"
                             side="Landmark"
                             [timerColor]="slot.timerType"
                             [maxTimer]="slot.maxTimer"
                             [timer]="slot.timer"
                             [dndDropzone]="slot.accepts"
                             [dndDisableIf]="slot.locked"
                             (dndDrop)="addCardToSlot($event, slotIndex)"></app-card-slot>

              <app-icon [icon]="slot.icon" [showOutline]="true"></app-icon>
            </div>

            <div class="size-big">{{ slot.text }}</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
