
<div class="modal-header p-0">
  <app-fancy-title-background [text]="'Pages.Options.Title' | translate"></app-fancy-title-background>
  <button type="button" class="btn btn-warning size-medium modal-close" (click)="modal.dismiss()">&times;</button>
</div>

<div class="modal-body">

  <div class="splash-container">

    <div class="container" *ngIf="options$ | async as options">

      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-body">

              <h1 class="card-title size-subheader text-center">
                {{ 'Pages.Options.VideoTitle' | translate }}
              </h1>

              <h2 class="card-subtitle size-big text-muted text-center">
                {{ 'Pages.Options.VideoSubtitle' | translate }}
              </h2>

              <ng-container *ngFor="let option of displayOptions">

                <!-- checkbox inputs -->
                <div class="form-check size-big" *ngIf="option.type === 'checkbox'">
                  <input class="form-check-input"
                         type="checkbox"
                         [checked]="options[option.option]"
                         [id]="option.option"
                         (change)="toggleOption(option.option, !options[option.option])">

                  <label class="form-check-label" [for]="option.option">
                    {{ option.label }}
                  </label>
                </div>

              </ng-container>

            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card">
            <div class="card-body">

              <h1 class="card-title size-subheader text-center">
                {{ 'Pages.Options.AudioTitle' | translate }}
              </h1>

              <h2 class="card-subtitle size-big text-muted text-center">
                {{ 'Pages.Options.AudioSubtitle' | translate }}
              </h2>

            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-6">
          <div class="card">
            <div class="card-body">

              <h1 class="card-title size-subheader text-center">
                {{ 'Pages.Options.KeyboardTitle' | translate }}
              </h1>

              <h2 class="card-subtitle size-big text-muted text-center">
                {{ 'Pages.Options.KeyboardSubtitle' | translate }}
              </h2>

              <div class="row mt-1" *ngFor="let option of options.keymap | keyvalue">
                <div class="col-8">
                  <div class="size-big">{{ option.key }}</div>
                </div>
                <div class="col-4">
                  <button class="btn btn-info full-width btn-sm" (click)="recordNewKeybind(options.keymap, option.key)" [disabled]="recordingKeybind[option.key]">
                    <span *ngIf="recordingKeybind[option.key]">Choose key...</span>
                    <span *ngIf="!recordingKeybind[option.key]">{{ option.value }}</span>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-6">
          <div class="card">
            <div class="card-body">

              <h1 class="card-title size-subheader text-center">
                {{ 'Pages.Options.GameTitle' | translate }}
              </h1>

              <h2 class="card-subtitle size-big text-muted text-center">
                {{ 'Pages.Options.GameSubtitle' | translate }}
              </h2>

            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card">
            <div class="card-body">

              <h1 class="card-title size-subheader text-center">
                {{ 'Pages.Options.DataTitle' | translate }}
              </h1>

              <h2 class="card-subtitle size-big text-muted text-center">
                {{ 'Pages.Options.DataSubtitle' | translate }}
              </h2>

              <div class="d-grid gap-2 px-3 d-block mt-1">
                <button type="button"
                        class="btn btn-danger d-block"
                        [swal]="resetSwal">
                  {{ 'Pages.Options.ResetDataAction' | translate }}
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<swal
  #resetSwal
  [title]="'Pages.Options.ResetDataConfirm' | translate"
  [text]="'Pages.Options.ResetDataText' | translate"
  [confirmButtonText]="'Pages.Options.ResetDataYes' | translate"
  [cancelButtonText]="'Pages.Options.ResetDataNo' | translate"
  [showCancelButton]="true"
  [focusCancel]="true"
  [heightAuto]="false"
  (confirm)="resetData()">
</swal>
