<div class="splash-container">

  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand">{{ 'Meta.GameName' | translate }}</a>

      <div class="d-flex">
        <button class="btn btn-outline-info text-sm" routerLink="/home">{{ 'Meta.MainMenu' | translate }}</button>
      </div>
    </div>
  </nav>

  <div class="container mt-3">

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">

            <h1 class="card-title">
              {{ 'Pages.Options.Title' | translate }}
            </h1>

            <h2 class="card-subtitle text-muted">
              {{ 'Pages.Options.Subtitle' | translate }}
            </h2>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
