
:host {
  width: 100%;
  height: 100%;
}

.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.modal-body {
  height: 100%;
  --bs-modal-padding: 0;

  .splash-container {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

input.form-check-input, label {
  cursor: pointer;
}
