<div class="card full-space gameplay-space">
  <div class="row" *ngIf="character$ | async as character">
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="mt-3 ms-3 d-flex flex-row align-items-center">
            <app-icon [icon]="character.background.icon" [size]="64"></app-icon>
            <span class="icon-text ms-3 size-header">{{ character.name }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="ms-3 mt-3 d-flex flex-row align-items-center">
            <app-icon [icon]="character.archetype.icon" [size]="64"></app-icon>
            <span class="icon-text ms-3 size-big">{{ character.archetype.name }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="ms-3 mt-3 d-flex flex-row align-items-center">
            <app-icon icon="health"
                      [size]="64"
                      [dndDisableDragIf]="shouldDisableHealthStealing(character)"
                      [dndDraggable]="{ takeHealth: 1 }"
                      dndDropzone
                      (dndDrop)="dropHealth($event)"></app-icon>
            <span class="icon-text ms-3 size-big">{{ character.hp }} HP</span>
          </div>
        </div>
      </div>

      <div class="row" *ngFor="let power of character.powers">
        <div class="col">
          <div class="ms-3 mt-3 d-flex flex-row align-items-center">
            <app-card-slot placeholder="Power" [card]="power"></app-card-slot>
            <span class="icon-text ms-3 size-big" *ngIf="power">{{ power.name }}</span>
            <span class="icon-text ms-3 size-big" *ngIf="!power">None</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col">
          <div class="mt-3 ms-3 d-flex flex-row align-items-center">
            <span class="icon-text size-header">&nbsp;</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="ms-3 mt-3 d-flex flex-row align-items-center">
            <app-card-slot placeholder="Head" [card]="character.equipment.head"></app-card-slot>
            <span class="icon-text ms-3 size-big" *ngIf="character.equipment.head">{{ character.equipment.head.name }}</span>
            <span class="icon-text ms-3 size-big" *ngIf="!character.equipment.head">None</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="ms-3 mt-3 d-flex flex-row align-items-center">
            <app-card-slot placeholder="Hands" [card]="character.equipment.hands"></app-card-slot>
            <span class="icon-text ms-3 size-big" *ngIf="character.equipment.hands">{{ character.equipment.hands.name }}</span>
            <span class="icon-text ms-3 size-big" *ngIf="!character.equipment.hands">None</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="ms-3 mt-3 d-flex flex-row align-items-center">
            <app-card-slot placeholder="Body" [card]="character.equipment.body"></app-card-slot>
            <span class="icon-text ms-3 size-big" *ngIf="character.equipment.body">{{ character.equipment.body.name }}</span>
            <span class="icon-text ms-3 size-big" *ngIf="!character.equipment.body">None</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="ms-3 mt-3 d-flex flex-row align-items-center">
            <app-card-slot placeholder="Legs" [card]="character.equipment.legs"></app-card-slot>
            <span class="icon-text ms-3 size-big" *ngIf="character.equipment.legs">{{ character.equipment.legs.name }}</span>
            <span class="icon-text ms-3 size-big" *ngIf="!character.equipment.legs">None</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
