<div class="card full-space gameplay-space">
  <div class="row" *ngIf="character$ | async as character">
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="mt-3 ms-3 d-flex flex-row align-items-center">
            <span class="icon-text">{{ character.name }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="ms-3 mt-3 d-flex flex-row align-items-center">
            <app-icon [icon]="character.archetype.icon" [size]="64"></app-icon>
            <span class="icon-text ms-3">{{ character.archetype.name }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="ms-3 mt-3 d-flex flex-row align-items-center">
            <app-icon icon="health" [size]="64"></app-icon>
            <span class="icon-text ms-3">{{ character.hp }} HP</span>
          </div>
        </div>
      </div>

      <div class="row" *ngFor="let power of character.powers">
        <div class="col">
          <div class="ms-3 mt-3 d-flex flex-row align-items-center">
            <app-item-slot placeholder="Power"></app-item-slot>
            <span class="icon-text ms-3" *ngIf="power">{{ power.name }}</span>
            <span class="icon-text ms-3" *ngIf="!power">None</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col">
          <div class="mt-3 ms-3 d-flex flex-row align-items-center">
            <span class="icon-text">&nbsp;</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="ms-3 mt-3 d-flex flex-row align-items-center">
            <app-item-slot placeholder="Head" [item]="character.equipment.head"></app-item-slot>
            <span class="icon-text ms-3" *ngIf="character.equipment.head">{{ character.equipment.head.name }}</span>
            <span class="icon-text ms-3" *ngIf="!character.equipment.head">None</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="ms-3 mt-3 d-flex flex-row align-items-center">
            <app-item-slot placeholder="Hands" [item]="character.equipment.hands"></app-item-slot>
            <span class="icon-text ms-3" *ngIf="character.equipment.hands">{{ character.equipment.hands.name }}</span>
            <span class="icon-text ms-3" *ngIf="!character.equipment.hands">None</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="ms-3 mt-3 d-flex flex-row align-items-center">
            <app-item-slot placeholder="Body" [item]="character.equipment.body"></app-item-slot>
            <span class="icon-text ms-3" *ngIf="character.equipment.body">{{ character.equipment.body.name }}</span>
            <span class="icon-text ms-3" *ngIf="!character.equipment.body">None</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="ms-3 mt-3 d-flex flex-row align-items-center">
            <app-item-slot placeholder="Legs" [item]="character.equipment.legs"></app-item-slot>
            <span class="icon-text ms-3" *ngIf="character.equipment.legs">{{ character.equipment.legs.name }}</span>
            <span class="icon-text ms-3" *ngIf="!character.equipment.legs">None</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
