
<div class="card-container">
  <div class="card-slot-container card"
       [class.highlight]="showHighlight"
       [ngbTooltip]="tipContent"
       container="body"
       dndType="Attack"
       [dndDraggable]="{ attack: name }">
    <app-icon [icon]="attackInfo.icon" [size]="64"></app-icon>
  </div>

  <div class="icon-text size-big mt-1">
    {{ name }}
  </div>
</div>

<ng-template #tipContent>
  <div class="sub-tooltip" [class.fantasy]="(options$ | async).isFantasyFont">
    <div class="card-name size-big">
      {{ name }}
    </div>

    <div class="card-interaction size-medium">
      Damage: {{ attackInfo.damage }} | Delay: {{ attackInfo.castTime }}
    </div>

    <div class="card-interaction size-medium" *ngIf="attackInfo.primarySlotTarget">
      Primary Target: {{ attackInfo.primarySlotTarget }}
    </div>
  </div>
</ng-template>
