
.card {
  --bs-card-border-color: #000;
}

.card-header {
  padding: 0;
}

.setup-card {
  width: 90vw;
  height: 90vh;

  .card-body {
    padding: 0;

    .row {
      --bs-gutter-x: 0;
    }
  }
}

.left-side {
  border-right: 1px solid var(--bs-card-border-color);
}

.left-side, .right-side {
  overflow-y: auto;
  height: calc(90vh - 56px);

  padding: 1rem;
}

.background-selector {
  padding: 0.5rem;

  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  .background-container {
    cursor: pointer;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.75rem;
  }

  .real-name, .background-name {
    text-align: center;
  }

  .real-name {
    letter-spacing: 1px;
  }

  .background-name {
    font-style: italic;
  }
}

.background-row, .archetype-row {
  background: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: var(--bs-border-radius);

  .image-area {
    padding: 1rem;
  }

  .text-area {
    padding: 1rem;
  }
}

.background-row {
  .real-name {
    letter-spacing: 1px;
  }

  .background-name {
    font-style: italic;
  }

  .description {
    font-style: italic;
  }
}

.archetype-row {
  .archetype-name {
    letter-spacing: 1px;
  }
}

.play {
  width: 100%;
}
