
.card-slot-container {
  min-height: 64px;
  min-width: 64px;
  max-height: 64px;
  max-width: 64px;

  overflow: hidden;
  object-fit: contain;

  .app-icon {

  }

  .full-space {
    height: 64px;
    width: 64px;
    font-size: 1.5rem;
  }
}
