

.card-container {
  position: relative;

  &.locked .card {
    --bs-card-bg: #aaa;
  }

  .corner-interaction {
    position: absolute;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    top: -12px;
    left: -10px;
    z-index: 30;
  }

  .card-slot-container {
    min-height: 64px;
    min-width: 64px;
    max-height: 64px;
    max-width: 64px;

    overflow: hidden;
    object-fit: contain;
    user-select: none;
  }

  .timer {
    position: absolute;
    color: #000;
    text-shadow: none;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 1px;
    letter-spacing: 2px;
  }

  .placeholder-text {
    height: 64px;
    width: 64px;
    line-height: 64px;
    margin-left: -1px;
    margin-top: -1px;
    color: #000;

    --text-change-color: #000;

    &.cooldown {
      --text-change-color: #00c;
    }

    &.danger {
      --text-change-color: #a00;
    }

    &.spinning {
      animation: spin, spinback;
      animation-delay: .5s, .5s;
      animation-duration: 1s;
      animation-iteration-count: infinite;

      padding-top: 40%;
      padding-bottom: 30%;

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(180deg);
        }
      }

      @keyframes spinback {
        0% {
          transform: rotate(181deg);
          color: var(--text-change-color);
        }

        100% {
          transform: rotate(360deg);
          color: #000;
        }
      }
    }
  }

  .timer-outline {
    position: absolute;
    top: -16px;
    left: -16px;
    width: 104px;
    height: 104px;
    transform: rotateY(-180deg) rotateZ(-90deg);

    --dash-size: calc(40px * 2 * 3.14);

    --timer-background: #ccc;
    --timer-foreground: #666;

    &.cooldown {
      --timer-background: #8b8bb4;
      --timer-foreground: #00c;
    }

    &.danger {
      --timer-background: #a77d7d;
      --timer-foreground: #a00;
    }

    .slowly-filled-in, .background-line, .border {
      fill: none;
      stroke-width: 6px;
    }

    .background-line {
      stroke-dasharray: var(--dash-size);
      stroke: var(--timer-background);
      stroke-dashoffset: calc(var(--dash-size) - (var(--timer-progress) * var(--dash-size)));
    }

    .slowly-filled-in {
      stroke: var(--timer-foreground);
    }

    .border {
      stroke-width: 8px;
      stroke: var(--timer-background);
    }

  }
}
