
<div class="splash-container">

  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand">{{ 'Meta.GameName' | translate }}</a>

      <div class="d-flex">
        <button class="btn btn-secondary text-sm" routerLink="/home">{{ 'Meta.MainMenu' | translate }}</button>
      </div>
    </div>
  </nav>

  <div class="container mt-3">
    <div class="row">

      <div class="col-4">
        <div class="card item-list">
          <div class="card-header">
            {{ 'Pages.ItemTest.ItemList' | translate }}
          </div>

          <div class="card-body p-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"
                  [class.active]="i === activeIndex"
                  (click)="chooseItem(item, i)"
                  *ngFor="let item of contentService.items; let i = index">

                <div class="item row align-items-center">
                  <div class="col-2">
                    <app-icon [icon]="item.icon" [size]="32"></app-icon>
                  </div>

                  <div class="col-10">
                    <div class="item-title">
                      {{ item.name }}
                    </div>

                    <div class="text-muted item-subtitle" *ngIf="item.interaction">
                      {{ item.interaction.name }} Lv.{{ item.interaction.level }}
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-8">
        <div class="row">

          <div class="col">
            <div class="card item-desc" *ngIf="!activeItem">
              <div class="card-header d-flex justify-content-between">
                {{ 'Pages.ItemTest.ItemInformation' | translate }}
              </div>

              <div class="card-body">
                {{ 'Pages.ItemTest.ItemInformationChoose' | translate }}
              </div>
            </div>

            <div class="card item-desc" *ngIf="activeItem">

              <ng-container [ngTemplateOutlet]="item"
                            [ngTemplateOutletContext]="{ activeItem: activeItem }"></ng-container>

              <div class="card-body d-flex justify-content-between">
                <a class="btn btn-primary" (click)="makeLeftItem()">{{ 'Pages.ItemTest.ItemInformationActionLeft' | translate }}</a>
                <a class="btn btn-primary" (click)="swapLeftAndRight()">{{ 'Pages.ItemTest.ItemInformationActionSwap' | translate }}</a>
                <a class="btn btn-primary" (click)="makeRightItem()">{{ 'Pages.ItemTest.ItemInformationActionRight' | translate }}</a>
              </div>
            </div>
          </div>

        </div>

        <div class="row mt-3">
          <div class="col-6">

            <div class="card item item-left" *ngIf="!currentLeft">
              <div class="card-body">
                {{ 'Pages.ItemTest.ItemLeft' | translate }}
              </div>
            </div>

            <div class="card item-desc" *ngIf="currentLeft">

              <ng-container [ngTemplateOutlet]="item"
                            [ngTemplateOutletContext]="{ activeItem: currentLeft }"></ng-container>
            </div>

          </div>

          <div class="col-6">

            <div class="card item item-right" *ngIf="!currentRight">
              <div class="card-body">
                {{ 'Pages.ItemTest.ItemRight' | translate }}
              </div>
            </div>

            <div class="card item-desc" *ngIf="currentRight">

              <ng-container [ngTemplateOutlet]="item"
                            [ngTemplateOutletContext]="{ activeItem: currentRight }"></ng-container>
            </div>

          </div>
        </div>

        <div class="row mt-3">

          <div class="col">
            <div class="card item-desc">

              <div class="card-header d-flex justify-content-between">
                {{ 'Pages.ItemTest.ReactionResults' | translate }}

                <a class="btn btn-primary text-sm" (click)="doReaction()" [class.disabled]="!currentLeft || !currentRight" *ngIf="currentLeft && currentLeft.interaction">{{ 'Pages.ItemTest.ReactionActionApply' | translate }}</a>
                <a class="btn btn-primary text-sm" (click)="doCombine()" [class.disabled]="!currentLeft || !currentRight" *ngIf="currentLeft && !currentLeft.interaction">{{ 'Pages.ItemTest.ReactionActionCombine' | translate }}</a>
              </div>

              <div class="card-body" *ngIf="!reactionResult">
                {{ 'Pages.ItemTest.ReactionDefault' | translate }}
              </div>

              <div class="card-body result-body" *ngIf="reactionResult">
                <h1>
                  {{ 'Pages.ItemTest.ReactionSuccess' | translate }}:
                  <span *ngIf="reactionResult.success">{{ 'Pages.ItemTest.ReactionSuccessYes' | translate }}</span>
                  <span *ngIf="!reactionResult.success">{{ 'Pages.ItemTest.ReactionSuccessNo' | translate }}</span>
                </h1>

                <h2>{{ 'Pages.ItemTest.ReactionMessage' | translate }}: {{ reactionResult.message }}</h2>

                <div *ngIf="reactionResult.extraItems">
                  <h1>{{ 'Pages.ItemTest.ReactionExtraItems' | translate }}</h1>

                  <pre>{{ reactionResult.extraItems | json }}</pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<ng-template #item let-activeItem="activeItem">
  <div class="card-header">
    <app-icon [icon]="activeItem.icon" [size]="32"></app-icon>
    {{ activeItem.name }}
    <span class="badge bg-secondary" *ngIf="activeItem.interaction">
      {{ activeItem.interaction.name }} Lv.{{ activeItem.interaction.level }}
    </span>
  </div>

  <div class="card-body">
    <div class="item-id">
      ID: {{ activeItem.id }}
    </div>

    <div class="item-part" [class.divider]="i > 0" *ngFor="let part of activeItem.parts; let i = index">

      <div class="part-ident">
        {{ 'Pages.ItemTest.ItemPart' | translate }} #{{ i }}: {{ part.name }}

        <span class="badge bg-info ms-1" *ngIf="part.primaryDescriptor">
          {{ 'Pages.ItemTest.ItemPrimary' | translate }}: {{ part.primaryDescriptor }}
        </span>

        <span class="badge bg-info ms-1" *ngIf="part.foundational">
          {{ 'Pages.ItemTest.ItemFoundational' | translate }}
        </span>
      </div>

      <div class="part-descriptors">
        <span class="badge bg-secondary ms-1"
              [class.hidden]="getLevel(desc.value) <= 0"
              *ngFor="let desc of part.descriptors | keyvalue">
              {{ desc.key }} Lv.{{ getLevel(desc.value) }}
        </span>
      </div>

    </div>
  </div>
</ng-template>
