:host {

}

.item-list {
  max-height: calc(100vh - 56px - 1rem - 1rem);
  overflow-y: scroll;

  li {
    cursor: pointer;
    font-size: 1.3rem;

    .item-subtitle {
      font-size: 1rem;
    }
  }
}

.item-desc {
  .card-body {
    font-size: 1.3rem;
  }

  .item-part.divider {
    border-top: 1px solid #ccc;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }
}

.item {

}

.item-left {

}

.item-right {

}

.result-body {
  max-height: 400px;
  overflow-y: scroll;
}
