:host {

}

.item-list {

  .card-body {
    max-height: calc(100vh - 56px - 1rem - 1rem - 53px);
    overflow-y: scroll;
  }

  li {
    cursor: pointer;
  }
}

.item-desc {
  .item-part.divider {
    border-top: 1px solid #ccc;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }
}

.item {

}

.item-left {

}

.item-right {

}

.result-body {
  max-height: 400px;
  overflow-y: scroll;
}
