
.item-zone {
  display: flex;
  flex-wrap: wrap;
  max-width: calc((64px + 1.5rem) * 4);

  .item-slot {
    app-card-slot {
      display: inline-block;
      flex-grow: 1;
      width: 25%;
    }
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .btn {
    --bs-btn-line-height: 1;
    --bs-btn-padding-y: 0;
    max-height: 30px;
    width: 86px;
  }
}
