<div class="card full-space gameplay-space">
  <div class="row" *ngIf="character$ | async as character">
    <div class="col">

      <div class="row">
        <div class="col-6">
          <div class="mt-3 ms-3 d-flex flex-row align-items-center">
            <span class="icon-text">Backpack</span>
          </div>
        </div>
        <div class="col-6">
          <div class="mt-3 ms-3 d-flex flex-row align-items-center">
            <span class="icon-text">Apply & Combine</span>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-6 item-zone">
          <div class="ms-3 mt-3 d-flex flex-row align-items-center" *ngFor="let slot of slots">
            <app-card-slot [card]="character.items[slot]"></app-card-slot>
          </div>
        </div>

        <div class="col-6">
          <div class="ms-3 mt-3 d-flex flex-row justify-content-start">
            <app-card-slot class="ms-3" placeholder="Source" [card]="combineLeft"></app-card-slot>

            <app-card-slot class="ms-3" placeholder="Target" [card]="combineRight"></app-card-slot>

            <button class="btn btn-primary ms-3" [disabled]="!combineLeft || !combineRight" *ngIf="combineLeft && combineLeft.interaction">Apply</button>
            <button class="btn btn-primary ms-3" [disabled]="!combineLeft || !combineRight" *ngIf="combineLeft && !combineLeft.interaction">Combine</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
