
/* custom theme */
@import './styles.colors.scss';

/* Importing Bootstrap SCSS file - applies above colors as a theme. */
@import '~bootstrap/scss/bootstrap';
@import '@fontsource/roboto';

@font-face {
  font-family: 'CelticTime';
  src: url('./assets/font/CelticTime.eot');
  src: url('./assets/font/CelticTime.eot?#iefix') format('embedded-opentype'),
       url('./assets/font/CelticTime.woff2') format('woff2'),
       url('./assets/font/CelticTime.woff') format('woff'),
       url('./assets/font/CelticTime.ttf') format('truetype'),
       url('./assets/font/CelticTime.svg#CelticTime') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Reset & Defaults */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;

  user-select: none;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Default font sizes */
:root {
  --ts-fontsize-hero: 5rem;
  --ts-fontsize-header: 2rem;
  --ts-fontsize-subheader: 1.75rem;
  --ts-fontsize-big: 1.1rem;
  --ts-fontsize-medium: 1rem;
  --ts-fontsize-normal: 0.9rem;

  .size-hero {
    font-size: var(--ts-fontsize-hero);
  }

  .size-header {
    font-size: var(--ts-fontsize-header);
  }

  .size-subheader {
    font-size: var(--ts-fontsize-subheader);
  }

  .size-big {
    font-size: var(--ts-fontsize-big);
  }

  .size-medium {
    font-size: var(--ts-fontsize-medium);
  }

  .size-mediumnormal {
    font-size: var(--ts-fontsize-mediumnormal);
  }
}

/* Default settings: Fantasy font styles */
body.fantasy {
  --ts-fontsize-hero: 5rem;
  --ts-fontsize-header: 3rem;
  --ts-fontsize-subheader: 2rem;
  --ts-fontsize-big: 1.5rem;
  --ts-fontsize-medium: 1.25rem;
  --ts-fontsize-normal: 1.1rem;

  .navbar-brand {
    letter-spacing: 3px;
  }

  .badge {
    letter-spacing: 2px;
    font-weight: 100;
  }

  .btn:not(.text-sm) {
    font-size: var(--ts-fontsize-big);
  }

  .swal2-title {
    font-size: var(--ts-fontsize-header);
  }
}

/* Set the fantasy font when the class is set */
body.fantasy, .tooltip .fantasy {
  font-family: CelticTime, Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

/* Global styles */
.splash-container {
  height: 100%;
  width: 100%;
  background: url(./assets/images/core/splash.png) no-repeat center local;
  background-size: cover;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none !important;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-space {
  @extend .full-width;
  @extend .full-height;
}

.gameplay-space {
  --bs-card-border-radius: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.options-dialog {
  width: 80vw;
  height: 80vh;

  --bs-modal-width: 80vw;
  min-height: unset;

  .modal-content {
    height: 100%;
  }
}

.icon-text {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.blank-slate {
  @extend .centered;
  @extend .full-space;

  font-size: var(--ts-fontsize-header);
  color: #999;
  text-align: center;
  padding: 2rem;
}

/* ng bootstrap overrides / helpers */
.modal-header {
  --bs-modal-header-border-width: 0;
}

.modal-title {
  font-size: var(--ts-fontsize-header);
  --bs-modal-title-line-height: 1;
}

.card-header {
  font-size: var(--ts-fontsize-big);
}

.swal2-container {
  .swal2-title {
    font-size: var(--ts-fontsize-subheader);
  }

  .swal2-html-container {
    font-size: var(--ts-fontsize-big);
  }

  .swal2-actions button {
    font-size: var(--ts-fontsize-medium);
  }
}

.tooltip {
  font-size: var(--ts-fontsize-big);
}

.darker-backdrop {
  --bs-backdrop-opacity: 0.9;
}

.no-backdrop-opacity {
  --bs-backdrop-opacity: 0;
}

.tooltip {
  --bs-tooltip-max-width: 500px;
}

body:not(.loaded) * {
  display: none;
}
