:host {

}

.card-body {
  padding: 0;
}

.card-title {
  font-size: 5rem;
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.card-subtitle {
  margin-top: -2rem;
  margin-bottom: 5rem;
}

.card-title, .card-subtitle {
  text-align: center;
}

.places-to-go {
  padding: 2rem;
}

.social {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;

  .icon-container {
    max-height: 50px;

    .icon {
      background: var(--bs-card-cap-bg);
      border-radius: var(--bs-card-border-radius);
      border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    }
  }
}
