<div class="splash-container centered">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">

          <h1 class="card-title">
            {{ 'Pages.Home.Title' | translate }}
          </h1>

          <h2 class="card-subtitle text-muted">
            {{ 'Pages.Home.Subtitle' | translate }}
          </h2>

          <div class="places-to-go">

            <ng-container *ngIf="hasGame$ | async; then hasGame else noGame"></ng-container>

            <ng-template #noGame>
              <div class="d-grid gap-2 px-3 d-block mt-1">
                <button type="button"
                        class="btn btn-primary d-block"
                        routerLink="/play">
                  {{ 'Pages.Home.Links.Play' | translate }}
                </button>
              </div>
            </ng-template>

            <ng-template #hasGame>
              <div class="d-grid gap-2 px-3 d-block mt-1">
                <button type="button"
                        class="btn btn-primary d-block"
                        routerLink="/play">
                  {{ 'Pages.Home.Links.Continue' | translate }}
                </button>
              </div>

              <div class="d-grid gap-2 px-3 d-block mt-1">
                <button type="button"
                        class="btn btn-primary d-block"
                        [swal]="abandonSwal">
                  {{ 'Pages.Home.Links.Abandon' | translate }}
                </button>
              </div>
            </ng-template>

            <div class="d-grid gap-2 px-3 d-block mt-1">
              <button type="button"
                      class="btn btn-primary d-block"
                      routerLink="/itemtest">
                {{ 'Pages.Home.Links.ItemTest' | translate }}
              </button>
            </div>

            <div class="d-grid gap-2 px-3 d-block mt-1">
              <a class="btn btn-primary d-block"
                 target="_blank"
                 href="https://blog.tsavoritegame.com">
                {{ 'Pages.Home.Links.News' | translate }}
              </a>
            </div>

            <div class="d-grid gap-2 px-3 d-block mt-1">
              <button type="button"
                      class="btn btn-primary d-block"
                      [disabled]="!electronService.isElectron"
                      routerLink="/mods">
                {{ 'Pages.Home.Links.Mods' | translate }}
              </button>
            </div>

            <div class="d-grid gap-2 px-3 d-block mt-1">
              <button type="button"
                      class="btn btn-primary d-block"
                      routerLink="/options">
                {{ 'Pages.Home.Links.Options' | translate }}
              </button>
            </div>

            <div class="d-grid gap-2 px-3 d-block mt-1">
              <button type="button"
                      class="btn btn-primary d-block"
                      [disabled]="!electronService.isElectron"
                      [swal]="quitSwal">
                {{ 'Pages.Home.Links.Quit' | translate }}
              </button>
            </div>

          </div>

          <div class="card-footer text-muted text-center">
            {{ 'Pages.Home.Footer' | translate }} - {{ version }}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="social">
  <div class="icon-container card" *ngFor="let linkData of socialLinks">
    <div class="icon">
      <a target="_blank" [href]="linkData.link">
        <svg-icon [src]="'assets/static/' + linkData.icon + '.svg'" [svgStyle]="{ 'width.px': 50, fill: 'rgb(0, 0, 0)' }"></svg-icon>
      </a>
    </div>
  </div>
</div>

<swal
  #abandonSwal
  [title]="'Pages.Home.AbandonConfirm' | translate"
  [text]="'Pages.Home.AbandonText' | translate"
  [confirmButtonText]="'Pages.Home.AbandonYes' | translate"
  [cancelButtonText]="'Pages.Home.AbandonNo' | translate"
  [showCancelButton]="true"
  [focusCancel]="true"
  [heightAuto]="false"
  (confirm)="abandon()">
</swal>

<swal
  #quitSwal
  [title]="'Pages.Home.QuitConfirm' | translate"
  [text]="'Pages.Home.QuitText' | translate"
  [confirmButtonText]="'Pages.Home.QuitYes' | translate"
  [cancelButtonText]="'Pages.Home.QuitNo' | translate"
  [showCancelButton]="true"
  [focusCancel]="true"
  [heightAuto]="false"
  (confirm)="quit()">
</swal>
