

<div class="splash-container game-container">
  <div class="warning-alert-container">
    <div class="warning-alert px-3" *ngIf="isOutdatedScenario$ | async">
      This scenario is outdated. Please abandon your run and restart it to attempt the newest version.
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-gameplay-character></app-gameplay-character>
    </div>
    <div class="col">
      <app-gameplay-backpack></app-gameplay-backpack>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-gameplay-event></app-gameplay-event>
    </div>
    <div class="col">
      <app-gameplay-map></app-gameplay-map>
    </div>
  </div>
</div>
