
.game-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .row {
    height: 50vh;
    --bs-gutter-x: 0;
  }
}

.row, .col {
  padding: 0;
}

.warning-alert-container {
  position: absolute;
  display: flex;
  top: 0;
  height: 30px;
  z-index: 100;
  width: 100%;
  text-align: center;
  justify-content: center;

  .warning-alert {
    background-color: var(--bs-danger);
    color: #fff;
    text-align: center;

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
